.article-content {
  color: #52575d;
  font-weight: 200;
  font-size: initial;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  text-align: left;
}

.btn-flat-inv {
  color: #52575D;
  padding: 7px 24px;
  border-radius: 4px;
  background-color: #FDDB3A;
  margin-left: 0%;
  margin-right: 239px;
  margin-top: 117px;
  margin-bottom: 20px;
    .change a {
    margin-right: 11px;
      font-size: 5px;
    }
}


