.fas fa-user-circle:before {
  position: relative;
  margin-top: 20px;
}

h5 {
  color: #FDDB3A;
  margin-left: 58px;
  text-align: left;
}

p {
  font-weight: 200;
  font-size: initial;
}

a {
  color: #52575d;
  text-decoration: none;
  background-color: transparent;
  font-weight: 200;
  font-size: initial;
}
