

h5 {
  color: #52575d;

}

p {
  font-weight: 200;
  font-size: initial;
}


.card-wraper {
  background-color: #F6F4E6;
  margin-left: 50px;
  border-radius: 3px;
}

.index-link {
  color: #52575d;
  padding: 10px;
  font-weight: 200;
  font-size: initial;
}

.edit-text {
  margin-left: 58px;
}

.logo {
  margin: 0 auto;
  width: 491px;
}

.head {
  text-align: center;
}
