// Specific CSS for your home-page

.body-color {
  background-color: white;

}


.title {
  background-color: #FDDB3A;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 25px;
  margin-top: 20px;
  border-radius: 3px;
}

p {
  text-align: left;
  margin-top: auto;
  margin-bottom: 0rem;
  margin-left: 30px;
  margin-right: 31px;
}

.background-yellow {
  background-color: #F6F4E6;
  width:100%;
  text-align: center;
  width: 100%;
  padding: 0%;
}

.cards {
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-right: 41px;
}

.btn {
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn .btn-warning {
  background-color: #FDDB3A;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2) !important;
}

.btn-danger-text {
  color: #52575D;
}

#target {
  background: #FDDB3A;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-top: 18px;
}

.fa-comments:before {
  content: "\f086";
  color: white;
  position: relative;
  top: 20px;
}

h4 {
  color: #FDDB3A;
  margin-left: 58px;
}

h4 {
}

.highlights {
  margin-left: 20px;
}

.forum {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
}





