.theme-card {
  background: #F6F4E6;
  padding: 35px;
  margin-top: 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FDDB3A;
}


.link-deco a {
  text-decoration: none;
  color: #52575D;
}

#link-color a {
  text-decoration: none;
  color: #52575D;

}

.search-box {

  color: #FDDB3A;
  border-radius: 5px;
}

.search-btn {
  border-style: solid;
  border-color: #FDDB3A;
  border-radius: 5px;
  width: 120px;

}

#heart-like {
  color:#FDDB3A;

}

.replies-theme a {
  text-decoration: underline;
  color: #52575D;


}

.btn-blocs {
  margin-top: 30px;
  margin-bottom: 30px;


}

.btn-outline-secondary {
  border-radius: 5px;
  margin:10px;
   &:hover {
    color: #52575D;
    text-decoration: none;
    background-color: white;
  }

}

