.theme-card-show {
  background: #F6F4E6;
  // padding: 5px;
  // margin: 5px;
  border-radius: 5px;
  padding: 35px;
  margin-top: 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FDDB3A;
}

.theme-card-show-main {
  background: #F6F4E6;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#link-color-size a {
  text-decoration: none;
  color: #52575D;
}


.new-card-show {
  background: #F6F4E6;
  // padding: 5px;
  // margin: 5px;
  border-radius: 5px;
  padding: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FDDB3A;
}

.theme-cat {
  margin: auto;
}
