.theme-card-show {
  background: #f6f4e6;
  // padding: 5px;
  // margin: 5px;
  border-radius: 5px;
  padding: 35px;
  margin-top: 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: #fddb3a;
}

.theme-card-show-main {
  background: #f6f4e6;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#link-color-size a {
  text-decoration: none;
  color: #52575d;
}

.new-card-show {
  background: #f6f4e6;
  // padding: 5px;
  // margin: 5px;
  border-radius: 5px;
  padding: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: #fddb3a;
}

.theme-cat {
  margin: auto;
}

.dropdown-menu {
  min-width: 1rem;
}
