.theme-card-show {
  background: $yellow;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.theme-card-show-main {
  background: #F6F4E6;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#link-color-size a {
  text-decoration: none;
  color: #52575D;
}


