.full-page-container {
  background-color: #white;
}

.body-color {
  background-color: white;
}

.forumtitle {
  text-align: center;
  margin-top:50px;
  font-weight: bold;


}

.logo {
  margin-left: 60px;
  margin-right: auto;
  width: 80px;

}
