<% @articles.each do |article| %>
  <%= image_tag article.image_url %>
<h1><%= article.title %></h1>
<p> <%= article.date %></p>

  <%= link_to "read more", topic_article_path(@topic,article) %>
<% end %>
