<div class="container">

<h1 class="forumtitle"> Kaabo Forum </h1>

<div class="logo d-flex justify-content-center">
<%= image_tag "https://res.cloudinary.com/cassarola/image/upload/v1599155458/Design_sem_nome-removebg-preview1_rznueg.png" %>
</div>
    <div class="d-inline-flex p-2">
      <div class=row>
        <% @topics.each do |topic| %>
          <div class="col-sm-12">

           <%= link_to topic_themes_path(topic) do %>

                <div class="card">
                  <% topicname = topic.category %>
                  <%= topic.category %>
                  <%= image_tag "icons/icon#{topicname}.svg", width: 100, class: "icons" %>
                </div>

           <% end %>
          </div>
        <% end %>
        </div>
      </div>

</div>
