<h1>Topics</h1>
<ul>
  <li><% @topics.each do |topic| %></li>
  <p><%= topic.category %></p>
  <p><%= link_to "Info", topic_articles_path(topic) %></p>
  <p><%= link_to "Forum", topic_themes_path(topic) %></p>
  <% end %>
</ul>




