<div class="full-page-container">
  <div class="container">
    <h1>Topics</h1>
    <div class="cards">
      <% @topics.each do |topic| %>
        <div class="card">
          <h2><%= topic.category %></h2>
          <% topicname = topic.category %>
          <%= image_tag "icons/icon#{topicname}.svg"%>
          <div class="links">
            <p><%= link_to "#{topic.category}", topic_themes_path(topic) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

