<div class="container">
  <h4 class="title" id="title-results">Articles</h4>
  <div class="card-wraper">
    <div class="card-body" id="search-results">
      <% @results.each do |result| %>
        <% if result.searchable_type == "Article" %>
          <a><%= link_to result.searchable.title, topic_article_path(find_article_topic(result.searchable_id), result.searchable_id) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <h4 class="title" id="title-results"> Threads</h4>
  <div class="card-wraper" id="search-results-card">
    <div class="card-body" id="search-results">
      <% @results.each do |result| %>
        <% if result.searchable_type == "Theme" %>
          <a><%= link_to result.searchable.title, topic_theme_path(find_theme_topic(result.searchable_id), result.searchable_id) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
