

.btn-flat {
  color: #FDDB3A;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #52575D;
  margin: 20px;
}



.btn-flat-inv {
  color: #52575D;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #FDDB3A;
  margin: 20px;

}

