.navbar-lewagon {
  align-items: center;
  justify-content: space-between;
  background-color: #fddb3a;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

#search-card {
  height: auto;
  padding: 7px 15px 7px;
}

.navbar-nav .btn {
  margin: 0;
}
